<h1>Task List</h1>       

<p>Simple project to explore Request Spec, Capybara, testing Javascript, Launchy and database_cleaner.</p>

<div id="My_Task">
<%= form_for @task do |f| %>  
	<%= f.label :name, "Task Name: " %>
	<%= f.text_field :name %>
	<%= f.submit "Add" %>
	<% end %>
</div>

<ul>        
	<% @tasks.each do |task|%>
	<li><%= task.name %> </li>             
	<% end %>
</ul>      


<%= link_to_function "Test for JS support", '$(this).html("JS works")' %> 


